@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

body {
  font-family: Arial, sans-serif;
}

table {
  width: 100%;
  border-radius: 20px;
  border-collapse: collapse;
}

th:first-of-type {
  border-top-left-radius: 20px;
}
th:last-of-type {
  border-top-right-radius: 20px;
}

tr:first-of-type {
  border-top-left-radius: 20px;
}
tr:last-of-type {
  border-top-right-radius: 20px;
}

tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
}

th,
td {
  padding: 8px 8px;
  text-align: left;
}



button {
  margin: 4px;
 

  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #2563eb;
  cursor: not-allowed;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
}

input[type="text"] {
  padding: 8px;
  margin-bottom: 12px;
  width: calc(100% - 16px);
}

select {
  padding: 8px;
  margin-bottom: 12px;
  width: calc(100% - 16px);
}

option {
  padding: 8px;
  margin-bottom: 12px;
  width: calc(100% - 16px);
}



.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  
  background-color: #aaa; /* or add it to the track */
}
